<html>
<head>
<title>Handlebars second layout</title>
</head>
<body>

<h3>Examples:</h3>
<ul>
<li><a href='/simple'>Simple variable display</a></li>
<li><a href='/complex'>Complex object display</a></li>
</ul>

some value {{someValue}}

{{{body}}}

</body>
</html>