<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
        <div class="thumbnail">
            <img src="http://placehold.it/600x800&text=Article" alt="">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-left">        
        <div class="thumbnail col-sm-6 col-md-12 col-lg-12 pull-left">
            <img src="http://placehold.it/300x250&text=Widget" alt="">            
        </div>
        <div class="thumbnail col-sm-6 col-md-12 col-lg-12 pull-left">
            <img src="http://placehold.it/300x250&text=Ad" alt="">                        
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pull-left visible-lg">        
        <div class="thumbnail col-sm-12 col-md-12 col-lg-12 pull-left">
            <img src="http://placehold.it/300x250&text=Widget" alt="">            
        </div>
        <div class="thumbnail col-sm-12 col-md-12 col-lg-12 pull-left">
            <img src="http://placehold.it/300x250&text=Ad" alt="">                        
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 pull-left">
        <div class="thumbnail col-xs-6 col-sm-3 col-md-3 col-lg-3 pull-left">
            <img src="http://placehold.it/150x200&text=WidgetItem" alt="">
        </div> 
        <div class="thumbnail col-xs-6 col-sm-3 col-md-3 col-lg-3 pull-left">
            <img src="http://placehold.it/150x200&text=WidgetItem" alt="">
        </div>
        <div class="thumbnail col-xs-6 col-sm-3 col-md-3 col-lg-3 pull-right">
            <img src="http://placehold.it/150x200&text=WidgetItem" alt="">
        </div>
        <div class="thumbnail col-xs-6 col-sm-3 col-md-3 col-lg-3 pull-right">
            <img src="http://placehold.it/150x200&text=WidgetItem" alt="">
        </div>
    </div>
</div>
<div class="row">    
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 pull-left">
        <div class="thumbnail hidden-xs col-sm-12 col-md-12 col-lg-12 pull-left">
            <img src="http://placehold.it/600x200&text=MPU-600" alt="">
        </div>        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pull-left">
        <div class="thumbnail col-sm-12 col-md-12 col-lg-12 pull-left">
            <img src="http://placehold.it/300x510&text=Widget" alt="">            
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pull-left hidden-md">        
        <div class="thumbnail col-sm-12 col-md-12 col-lg-12 pull-left">
            <img src="http://placehold.it/300x250&text=Widget" alt="">            
        </div>
        <div class="thumbnail col-sm-12 col-md-12 col-lg-12 pull-left">
            <img src="http://placehold.it/300x250&text=Ad" alt="">                        
        </div>
    </div> 
</div>
         