<section>
    <header>
        <h1>REST test</h1>
    </header>
    <div id="articles">
    </div>
    <script id="article-template" type="text/x-handlebars-template">
        <article>
            <h1>\{{title}}</h1>
            <p>\{{content}}</p>
        </article>
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var tpl = Handlebars.compile($("#article-template").html());
            $.ajax({
                url: "rest/articles",
                type: "GET",
                success: function(data){
                    var articles = data["articles"];
                    $.each(articles, function(i, article){
                        var html = tpl(article);
                        $("#articles").append(html);
                    });                    
                }
            });
        });
    </script>
    <footer>
    </footer>
</section>